<!DOCTYPE html>
<html>
  <head>
    <h1>Skyscrapers in the United States</h1>

    <style>
      table {
      border-collapse: separate;
      width: 100%;
      border: 1px solid black;
      table-layout: fixed;
} 

      td,th {
      border: 1px solid black;
      background-color: white;
      }

      #color1{
      background-color: #990000;
      }

      #color2{
      background-color: #ff3300;
      }

      #color3{
      background-color: #ff9933;
      }
      

    </style>
  </head>


  <body>
    <select id="view">
      <option value="height">Height View</option>
      <option value="materials">Materials View</option>
      <option value="usage">Usage View</option>
    </select>

   <!-- <select id="year">
      <option value="1884">1884</option>
      <option value="1920">1920</option>
      <option value="1960">1960</option>
      <option value="2000">2000</option>
      <option value="2017">2017</option>
    </select>-->


    
    <select id="year">
      <option value="1940">1940</option>
      <option value="1942">1942</option>
      <option value="1943">1943</option>
      <option value="1949">1949</option>
     
    </select>



    
    <table id="table" style="width:100%">
      <tr>
	<th>Color</th>
	<th id="vHead">Height</th>
      </tr>
      <tr>
	<td id="color1"></td>
	<td id="var1">> 400 m</td>

      </tr>
      <tr>
	<td id="color2"></td>
	<td id="var2">> 100 m</td>

      </tr>
      <tr>
	<td id="color3"></td>
	<td id="var3"><= 100 m</td>

      </tr>
    </table>
    
    
	
    <br>
    
    


    <svg width="960" height="600" fill="none" stroke="#000" stroke-linejoin="round" stroke-linecap="round" id="slate"></svg>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://unpkg.com/topojson-client@3"></script>
    <script src="USAmap.js"></script>
  
    

    

  </body>
</html>
